---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import SearchCollection from "@components/SearchCollection";
import { CANONNOTES } from "@consts";

const canonNotes = (await getCollection("canon_notes"))
  .filter((note) => !note.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

const tags = [
  ...new Set(canonNotes.flatMap((note) => note.data.tags)),
].sort((a, b) => a.localeCompare(b));

const estimated_initial_size =
  28 + canonNotes.length * 158 + (canonNotes.length - 1) * 12;
---

<PageLayout title={CANONNOTES.TITLE} description={CANONNOTES.DESCRIPTION}>
  <TopLayout>
    <div class="animate">
      <h1 class="text-3xl font-semibold text-black dark:text-white mt-2">
        {CANONNOTES.TITLE}
      </h1>
      <div class="mt-1">
        {CANONNOTES.DESCRIPTION}
      </div>
    </div>
  </TopLayout>
  <BottomLayout>
    <div
      id="search-collection-wrapper"
      class="animate"
      style={{ minHeight: `${estimated_initial_size}px` }}
    >
      <SearchCollection
        client:load
        entry_name={"notes"}
        tags={tags}
        data={canonNotes}
      />
    </div>
  </BottomLayout>
</PageLayout>
