---
export interface Props {
  prevHref?: string
  prevLabel?: string
  prevType?: string
  nextHref?: string
  nextLabel?: string
  nextType?: string
}

const {
  prevHref,
  prevLabel = "Previous",
  prevType = "",
  nextHref,
  nextLabel = "Next",
  nextType = ""
} = Astro.props
---
<div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
  {prevHref && (
    <a href={prevHref} class="group p-4 gap-3 flex items-center border rounded-lg hover:bg-black/5 hover:dark:bg-white/10 border-black/15 dark:border-white/20 blend">
      <div class="order-2 w-full h-full group-hover:text-black group-hover:dark:text-white blend">
        <div class="flex flex-wrap gap-2 items-center">
          <div class="text-xs font-semibold uppercase tracking-wide text-indigo-600 dark:text-indigo-400">
            PREV
          </div>
          {prevType && (
            <div class="text-xs uppercase text-zinc-500 dark:text-zinc-400 ml-2">
              {prevType}
            </div>
          )}
        </div>
        <div class="font-semibold mt-3 text-black dark:text-white">
          {prevLabel}
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="order-1 stroke-current group-hover:stroke-black group-hover:dark:stroke-white rotate-180">
        <line x1="5" y1="12" x2="19" y2="12" class="scale-x-0 group-hover:scale-x-100 translate-x-4 group-hover:translate-x-1 transition-all duration-300 ease-in-out" />
        <polyline points="12 5 19 12 12 19" class="translate-x-0 group-hover:translate-x-1 transition-all duration-300 ease-in-out" />
      </svg>
    </a>
  )}
  {nextHref && (
    <a href={nextHref} class="group p-4 gap-3 flex items-center border rounded-lg hover:bg-black/5 hover:dark:bg-white/10 border-black/15 dark:border-white/20 transition-colors duration-300 ease-in-out">
      <div class="w-full h-full text-right group-hover:text-black group-hover:dark:text-white blend">
        <div class="flex flex-wrap gap-2 justify-end items-center">
          <div class="text-xs font-semibold uppercase tracking-wide text-indigo-600 dark:text-indigo-400">
            NEXT
          </div>
          {nextType && (
            <div class="text-xs uppercase text-zinc-500 dark:text-zinc-400 ml-2">
              {nextType}
            </div>
          )}
        </div>
        <div class="font-semibold mt-3 text-black dark:text-white">
          {nextLabel}
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="stroke-current group-hover:stroke-black group-hover:dark:stroke-white">
        <line x1="5" y1="12" x2="19" y2="12" class="scale-x-0 group-hover:scale-x-100 translate-x-4 group-hover:translate-x-1 transition-all duration-300 ease-in-out" />
        <polyline points="12 5 19 12 12 19" class="translate-x-0 group-hover:translate-x-1 transition-all duration-300 ease-in-out" />
      </svg>
    </a>
  )}
</div>