---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import ArticleTopLayout from "@layouts/ArticleTopLayout.astro";
import ArticleBottomLayout from "@layouts/ArticleBottomLayout.astro";
import ManualButtons from "@components/ManualButtons.astro";

export async function getStaticPaths() {
  const pillars = await getCollection("pillars");
  return pillars.map((pillar) => ({
    params: { slug: pillar.slug },
    props: pillar,
  }));
}

type Props = CollectionEntry<"pillars">;
const pillar = Astro.props;
const { title, summary } = pillar.data;
---

<PageLayout title={title} description={summary}>
  <TopLayout>
    <div class="animate">
      <ArticleTopLayout entry={pillar} />
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <ArticleBottomLayout entry={pillar} />
    </div>
    <ManualButtons
      prevHref={pillar.data.prevHref}
      prevLabel={pillar.data.prevLabel}
      nextHref={pillar.data.nextHref}
      nextLabel={pillar.data.nextLabel}
    />
  </BottomLayout>
</PageLayout>
